:root {
    --space-cadet: #222838;
    --indigo-blue: #2a3f5e;
    --blue-slate: #698a9c;
    --rosy-brown: #bd8c8c;
    --silver-pink: #d9b5a9;
    --prosecco: #eedad3;
}

body, html {
    margin: 0;
    padding: 0;
    height: 200%;
    background-color: var(--blue-slate);
    background-size: cover;
}

h1 {
    font-family: 'Qahiri', sans-serif;
    font-size: 20rem;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center;
  }

button {
    font-size: 1.5rem; 
    padding: 15px 30px; 
    border: none; 
    border-radius: 5px; 
    background-color: #bd8c8c; 
    color: white; 
    cursor: pointer;
    border-radius: 50px;
  }
  
  button:hover {
    background-color: #d9b5a9;
  }

  .star-heading:after {
    content: "\2606";
    color: white;
    font-size: 0.5em;
    vertical-align: middle;
  }