:root {
    --space-cadet: #222838;
    --indigo-blue: #2a3f5e;
    --blue-slate: #698a9c;
    --rosy-brown: #bd8c8c;
    --silver-pink: #d9b5a9;
    --prosecco: #eedad3;
}

body, html {
    margin: 0;
    padding: 0;
    height: 200%;
    background-color: var(--blue-slate);
    background-size: cover;
}

h1 {
    font-family: 'Qahiri', sans-serif;
    font-size: 10rem;
    text-align: center;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%; /* Ensures the container takes the full width */
    margin-top: 20px; /* Adds some space above the buttons */
    margin-left: 40vw;
}



button {
    font-size: 1.5rem; 
    padding: 15px 30px; 
    border: none; 
    border-radius: 5px; 
    background-color: #d9b5a9; 
    color: white; 
    cursor: pointer;
    text-align: center;
  }
  
  button:hover {
    background-color: #bd8c8c;
  }

.button-container {
    text-align: center;
}

.button-container button {
    display: inline-block;
    margin: 0 5px;
}